repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.3
    hooks:
      - id: ruff
        args:
          - --fix
          - --unsafe-fixes
          - --exit-zero
          - --select=E,F,I,UP
          - --ignore=E501
        exclude: \.ipynb$
      - id: ruff-format
        exclude: \.ipynb$
