torch
transformers==4.40.2
datasets
wandb
hydra-core
omegaconf
tqdm
matplotlib
seaborn
numpy
pandas
scikit-learn
pyyaml
python-dotenv
accelerate
blobfile
lxml
pycryptodomex
tiktoken
pyvene
pre-commit
hydra-joblib-launcher
hydra-submitit-launcher
openai
ipykernel
jupyter
hydra_colorlog
ray[default]