services:
  {{ container_name | lower }}:
    env_file:
      - .env
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - PYTHON_VERSION=${PYTHON_VERSION:-{{ python_version }}}
        - GIT_NAME=${GIT_NAME}
        - GIT_EMAIL=${GIT_EMAIL}
        - PROJECT_NAME=${PROJECT_NAME}
        - VARIANT=${VARIANT:-{{ variant }}}
        - ENV_VARIANT=${ENV_VARIANT:-{{ env_variant }}}
    image: ${CONTAINER_NAME}:${VARIANT}-${ENV_VARIANT}
    container_name: ${CONTAINER_NAME}
    hostname: ${CONTAINER_NAME}
    working_dir: /workspace/${PROJECT_NAME}
    volumes:
      - .:/workspace/${PROJECT_NAME}
      - ~/.config/rclone:/root/.config/rclone
      - /var/run/docker.sock:/var/run/docker.sock
      - type: bind
        source: ~/.ssh
        target: /root/.ssh
    ports:
      {% if ray %}
      - "${RAY_DASHBOARD_PORT:-8265}:8265"
      - "${RAY_CLIENT_SERVER_PORT:-10001}:10001"
      {% endif %}
      - "8000:8000"
    {% if ray %}
    command: >
      zsh -c "
      ray start --head \
      --include-dashboard=true \
      --dashboard-host=0.0.0.0 \
      --dashboard-port=8265 \
      --port=6379 \
      --ray-client-server-port=10001 \
      --node-ip-address=0.0.0.0 \
      --block"
    {% endif %}
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    stdin_open: true
    tty: true
    restart: unless-stopped