# System monitoring
psutil
paramiko

# Redis integration
redis

# API and async support
fastapi
uvicorn
pydantic
websockets
openapi-client
aiohttp

# Database
SQLAlchemy
psycopg2-binary

# Utils
python-dotenv
slack-sdk
slack_bolt
discord.py